body {
  margin: 0;
  background-color: #e3fdfd;
  text-align: center;
  font-family: sans-serif;
}

hr {
  border-style: dotted;
  border-width: medium;
  border-bottom: none;
  width: 25%;
  color: #a6e3e9;
  margin: 0 auto;
}

.intro {
  padding: 4.4rem;
  margin: 15.63rem auto;
}

.intro h1 {
  font-family: "Satisfy", cursive;
}

.intro p {
  font-family: "IBM Plex Mono", monospace;
}

.aboutMe {
  padding: 2.34rem;
  margin: 0 auto;
  background-color: #cbf1f5;
}

.profilePic {
  border-radius: 50%;
}

.hobbies {
  padding: 1.9rem;
  margin: 0 auto;
  background-color: #a6e3e9;
}

.hobbies h2 {
  color: #71c9ce;
}

.hobbie {
  padding: 0.9rem;
  margin: 2.5rem auto;
  width: 25%;
}

.hobbie img {
  width: 30%;
  height: 30%;
  border: solid;
  border-width: 2px;
  float: left;
  margin-right: 1rem;
}

.hobbie p {
  line-height: 2;
}

.continer {
  padding: 1.44px;
  margin: 0 auto;
  background-color: #71c9ce;
}

.knloadge {
  margin: 2.5rem auto;
  width: 40%;
}

.language {
  margin: 0 auto 150px;
}

.language img {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 1rem;
}

.language p {
  line-height: 2;
}

.certificate {
  margin: 0 auto 150px;
}

.certificate img {
  width: 300px;
  height: 200px;
}

.contactMe {
  background-color: #cbf1f5;
  padding: 0.5rem;
}
