
body{
  margin: 0;
  background-color: #E3FDFD;
  text-align: center;
  font-family: sans-serif;
}

hr{
  border-style: dotted;
  border-width: medium;
  border-bottom: none;
  width: 25%;
  color: #A6E3E9;
  margin: 0 auto;
}


.intro{
  padding: 4.4rem;
  margin: 15.63rem auto;
}

.intro h1{
  font-family: 'Satisfy', cursive;
}

.intro p{
  font-family: 'IBM Plex Mono', monospace;
}

.aboutMe{
  padding: 2.34rem;
  background-color: #CBF1F5;
  margin: 0 auto;
}

.profilePic{
  border-radius: 50%;
}

.hobbies{
  padding: 1.9rem;
  margin: 0 auto;
  background-color: #A6E3E9;
}

.hobbies h2{
  color: #71C9CE;
}

.hobbie{
  padding: 0.9rem;
  margin: 2.5rem auto;
}

.hobbie img{
  width: 12%;
  height: 12%;
  border: solid;
  border-width: 2px;
  float: left;
}

.knloadge{
  height: 700px;
  background-color: #71C9CE;
  margin: 0 auto;
}
