
a {
  transition: all 200ms ease;
  text-decoration: none;
  color: #000;
}

a:hover {
  font-weight: bold;
}

body {
  margin: 0;
  background-color: #e3fdfd;
  text-align: center;
  font-family: sans-serif;
}

hr {
  width: 95%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

ul li {
  margin: .5rem;
  border-radius: .5rem;
}

nav {
  height: 3rem;
  font-family: sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  padding: 1px;
}

.box {
  border: 1px solid #000;
}

.liPading {
  padding: .5rem;
}

h1, h3, h4, h5 {
  font-family: "Satisfy", cursive;
}

.intro {
  padding: 4.4rem;
  margin: 15.63rem auto;
}

.intro p {
  font-family: "IBM Plex Mono", monospace;
}

.intro img {
  border-radius: 50%;
}

.detailes {
  margin: 0 auto;
  width: 95%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sideBar {
  width: 750px;
  margin-right: 1rem;
}

.contact {
  text-decoration: none;
  color: #000;
}

.contact:hover {
  color: #000;
}

.skils ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.progList li {
  display: inline-block;
}

.interests ul li{
  display: inline-block;
}

.divider {
  transform:rotate(90deg);
  margin: 0px;
}

.certifImage {
  width: 300px;
  border-radius: 1rem;
  transition: all 300ms ease-in-out;
}

.certifImage:hover {
  width: 320px;
}

.education {
  padding-top: 1rem;
  width: 95%;
  margin: 0 auto;
}

.space {
  height: 1.5rem;
}

.study {
  display: inline-block;
  padding: .5rem;
}

.study li {
  text-align: left;
  margin: 0;
}

.projectsHeadder {
  display: inline-block;
  padding-right: 1rem;
}

.footter {
  width: 100%;
  padding: 60px;
  color: #fff;
}

.footter ul li {
  display: inline-block;
  padding: 5px;
}

.contactF {
  text-decoration: none;
  color: #fff;
}

.contactF:hover {
  color: #0dcaf0;
}
